.meta {
  &__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-icon {
      border-radius: 100%;
      margin-right: 0.5rem;
    }

    &-text {
        display: flex;
        flex-direction: column;
    }
  }

  &__categories {
      margin: 1rem 0 1rem 0;
      display: flex;
  }

  &__category {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: .5rem;
  }
}
