.tip-highlight-good {
  background: #d7efd7;
  border-color: #8ed28e;
}

.tip-highlight-bad {
  background: #f7e8e8;
  border-color: #dd9c9c;
}

.tip-highlight-good-text {
  color: #398e39;
}

.tip-highlight-bad-text {
  color: #a63a3a;
}
