# explicit commands for building the site
# and the folder to publish
[build]
command = "gatsby build && rm -rf .cache/functions"
publish = "public"
  [build.environment]
  # set TERM variable for terminal output
  TERM = "xterm"

# Asset optimization
[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true

[[plugins]]
package = "@netlify/plugin-gatsby"

[[plugins]]
package = "@netlify/plugin-lighthouse"
