# explicit commands for building the site
# and the folder to publish
[build]
command = "gatsby-parallel-runner"
publish = "public"
  [build.environment]
  # set TERM variable for terminal output
  TERM = "xterm"

# Asset optimization
[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true

# Headers to return with requests for the specified paths
[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"

[headers.values]
  X-Frame-Options = "DENY"
  X-XSS-Protection = "1; mode=block"
  # Multi-key header rules are expressed with multi-line strings.
  cache-control = '''
        max-age=31557600,
        no-cache,
        no-store,
        must-revalidate'''

# Redirects Wordpress hacking trolls to an offensive image
[[redirects]]
  from = "/wp-login.php"
  to = "https://i.imgur.com/1Ia9tTG.gif"
  status = 301

# Simple redirect for a page which has changed URLs
[[redirects]]
  from = "/talks/my-first-smartphone-game/"
  to = "https://mokkapps-first-smartphone-game-talk.netlify.com"
  status = 301

# Simple redirect for a page which has changed URLs
[[redirects]]
  from = "blog/my-development-setup/"
  to = "/uses/"
  status = 301

# Simple business card redirect
[[redirects]]
from = "/visitenkarte"
to = "/business-card"
status = 301

# Simple Twitter redirect
[[redirects]]
from = "/twitter"
to = "https://twitter.com/mokkapps"
status = 301

# Simple GitHub redirect
[[redirects]]
from = "/git"
to = "https://github.com/mokkapps"
status = 301

# Simple RSS feed redirect
[[redirects]]
from = "/rss"
to = "https://mokkapps.de/rss.xml"
status = 301

# Simple Instagram redirect
[[redirects]]
from = "/instagram"
to = "https://www.instagram.com/mokkapps"
status = 301

# Simple Dev.to redirect
[[redirects]]
from = "/dev-to"
to = "https://dev.to/mokkapps"
status = 301

# Simple Medium redirect
[[redirects]]
from = "/medium"
to = "https://medium.com/@mokkappsdev"
status = 301

# Simple Facebook redirect
[[redirects]]
from = "/facebook"
to = "https://www.facebook.com/mokkapps-dev"
status = 301

# Simple npm redirect
[[redirects]]
from = "/npm"
to = "https://www.npmjs.com/~mokkapps"
status = 301

[[plugins]]
package = "@netlify/plugin-gatsby"

[[plugins]]
package = "@netlify/plugin-lighthouse"

[[plugins]]
package = "netlify-plugin-a11y"
  [plugins.inputs]
    resultMode = "warn"
