@import '../../styles/variables.scss';

.project-card {
  display: flex;
  flex-flow: column;
  box-shadow: 0 10px 30px rgba(#2c3e50, 0.5);

  &__image {
    margin: 0.3rem;
    min-height: 200px;
  }

  &__store-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
  }

  &__divider {
    margin: 1rem 0 1rem 0;
    border-top: 1px solid #8c8b8b;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #2c3e50;
  }

  &__description {
    color: black;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
  }

  &__description-box {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    flex: 0 0 auto;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    background-color: #ecf0f1;
  }

  &__desc-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-color: black;
    border: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    transition: 0.25s;
    width: 100%;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
      background-color: lightgrey;
      color: black;
      text-decoration: none;
    }

    &-image {
      margin-right: 1rem;
    }
  }

  &__desc-button-container {
    margin: 1rem 1rem 0 1rem;
  }

  &__store-button {
    &:hover,
    &:focus {
      background-color: transparent;
      color: transparent;
    }
  }
}