@import '../../styles/variables.scss';

.hero {
  &__container {
    height: 100%;
    border-radius: 10px;
    padding: 2rem;
    background: $dark-gray;
  }
  
  &__characteristics {
    list-style: none;
  }

  &__characteristics-item {
    text-align: center;
    font-size: 2em;
  }

  &__heading {
    text-align: center;
    font-size: 3em;
  }

  &__loopable-text {
    color: $primary-color;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }
}

/* Small screens */
@media screen and (max-width: 300px) {
  .hero__heading {
    font-size: 1.4em;
  }

  .hero__characteristics-item {
    font-size: 1.2em;
  }
}

/* Medium screens */
@media screen and (max-width: 600px) {
  .hero__heading {
    font-size: 1.7em;
  }

  .hero__characteristics-item {
    font-size: 1.5em;
  }
}
