@import '../../styles/variables.scss';

.hero {
  &__container {
    height: 100%;
    border-radius: 10px;
    padding: 2rem;
    background: white;
  }

  &__section-heading {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1.5rem 0;
    color: black;
  }

  &__projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__characteristics {
    &-container {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      margin-top: 1rem;
    }

    &-item {
      padding: 1rem;
      margin: 1rem;
      width: 200px;
      height: 200px;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #ecf0f1;

      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;

      &-icon {
        width: 80px;
        height: 80px;
        margin: auto;
      }

      &-text {
        color: black;
        white-space: pre-line;
        margin: 1rem 0 0;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        margin: auto;
      }
    }
  }

  &__heading {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2rem;
  }

  &__quote {
    margin: auto;
    font-size: 2em;
    text-align: center;
    width: 80%;
  }
}

/* Small screens */
@media screen and (max-width: 300px) {
  .hero__heading {
    font-size: 1.4em;
  }

  .hero__characteristics-item-text {
    font-size: 1rem;
  }

  .hero__quote {
    font-size: 0.8em;
  }
}

/* Medium screens */
@media screen and (max-width: 600px) {
  .hero__characteristics-item {
    width: 125px;
    height: 125px;
  }

  .hero__characteristics-item-icon {
    width: 30px;
    height: 30px;
  }

  .hero__heading {
    font-size: 2em;
  }

  .hero__characteristics-item-text {
    font-size: .8rem;
  }

  .hero__quote {
    font-size: 1.2em;
  }
}
