@import '../../styles/variables.scss';

.header-logo__container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.header-logo__text {
  color: $secondary-color;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  margin-left: 0.1em;
  margin-top: 0.2em;
}
