.custom-block-body p {
  margin: 0 !important;
}

.alert {
  @apply flex;
  @apply items-center;
  @apply rounded-md;
  @apply px-3;
  @apply py-5;
  @apply mb-4;
  border: 1px solid transparent;

  &-warning {
    border-color: var(--color-warning);
    &::before {
      content: '⚠️';
      @apply mr-2;
    }
  }

  &-info {
    border-color: var(--color-info);
    &::before {
      content: 'ℹ️';
      @apply mr-2;
    }
  }

  &-danger {
    border-color: var(--color-error);
    &::before {
      content: '🚨';
      @apply mr-2;
    }
  }
}
