@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --primary: #f8f8f8;
  --secondary: #ecf0f1;
  --text-main: #0d0106;
  --text-secondary: #454e56;
  --background: #f8f8f8;
  --accent: #fc1a20;
}

.theme-dark {
  --primary: #313131;
  --secondary: #525252;
  --text-main: #eaeaea;
  --text-secondary: #b8b8b9;
  --background: #313131;
  --accent: #fc1a20;
}

:root {
  --color-toggle-light: #f8f8f8;
  --color-toggle-dark: #f8f8f8;
  --burger-menu-text: #f8f8f8;
  --burger-menu-button: #b8b8b9;
  --basic-button-text: #0d0106;
  --basic-button-text-light: #1c1b1b;
}

@layer base {
  ol,
  ul {
    list-style: initial;
    @apply ml-4;
  }

  li {
    @apply mb-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Domine', sans-serif;
    font-weight: bold;
    line-height: 1.1;
  }

  h1 {
    @apply text-5xl;
    @apply mb-2;

    @media (max-width: 640px) {
      @apply text-4xl;
    }
  }

  h2 {
    @apply text-4xl;
    @apply mb-2;

    @media (max-width: 640px) {
      @apply text-3xl;
    }
  }

  h3 {
    @apply text-2xl;
    @apply mb-2;

    @media (max-width: 640px) {
      @apply text-xl;
    }
  }

  a {
    color: var(--accent);
    text-decoration: none;
    background-image: linear-gradient(var(--accent), var(--accent));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;

    &:hover {
      color: var(--accent);
      text-decoration: none;
      background-size: 100% 2px;
    }
  }
}

body {
  background: #313131;
}

html {
  box-sizing: border-box;
  background: #313131;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.custom-block-body p {
  margin: 0 !important;
}
