@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'gatsby-remark-custom-blocks';
@import 'gatsby-remark-autolink-headers';
@import 'prismjs';

.theme-light {
  --primary: #f8f8f8;
  --secondary: #ecf0f1;
  --secondary-darken: #cfd9db;
  --text-main: #0d0106;
  --text-secondary: #454e56;
  --text-mark: #c6c6c6;
  --background: #f8f8f8;
  --accent: #fc1a20;
  --accent-darken: #890105;
  --button-background: #ecf0f1;
}

.theme-dark {
  --primary: #313131;
  --secondary: #525252;
  --secondary-darken: #454545;
  --text-main: #eaeaea;
  --text-secondary: #b8b8b9;
  --text-mark: #636363;
  --background: #313131;
  --accent: #fc1a20;
  --accent-darken: #890105;
  --button-background: #f8f8f8;
}

:root {
  --switch-background: #b8b8b9;
  --burger-menu-text: #f8f8f8;
  --burger-menu-button: #b8b8b9;
  --basic-button-text: #0d0106;
  --basic-button-text-light: #1c1b1b;
  --color-success: #009944;
  --color-error: #cf000f;
  --color-warning: #ffc517;
  --color-info: #007bff;
}

@layer base {
  ol {
    list-style: decimal;
    @apply ml-4;

    > li {
      @apply ml-4 #{!important};

      > ul {
        list-style: initial;

        > li {
          @apply text-base #{!important};
          list-style-type: initial;

          a {
            @apply text-base;
          }
        }
      }
    }
  }

  ul {
    list-style: initial;
    @apply ml-4;

    > li {
      @apply ml-4 #{!important};

      > ul {
        list-style: initial;

        > li {
          @apply text-base #{!important};
          list-style-type: square;

          a {
            @apply text-base;
          }
        }
      }
    }
  }

  li {
    @apply mb-2;
  }

  blockquote {
    @apply bg-secondary;
    @apply rounded-md;

    p {
      @apply p-4;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Domine', sans-serif;
    font-weight: bold;
    line-height: 1.1;
    @apply mb-2;
  }

  h1 {
    line-height: 1.2 !important;
    @apply text-5xl;

    @media (max-width: 640px) {
      @apply text-4xl;
    }
  }

  h2 {
    @apply text-4xl;

    @media (max-width: 640px) {
      @apply text-3xl;
    }
  }

  h3 {
    @apply text-2xl;

    @media (max-width: 640px) {
      @apply text-xl;
    }
  }

  h4 {
    @apply text-xl;
    @apply mt-4;
  }

  h5 {
    @apply text-lg;
  }

  a {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    font-weight: bold;
  }

  input {
    @apply h-8;
    @apply rounded-lg;
    @apply border-none;
    @apply bg-secondary;
    @apply px-2;
    @apply px-2;
    @apply py-4;
    @apply overflow-auto;
  }

  textarea {
    @apply h-64;
    @apply rounded-lg;
    @apply border-none;
    @apply bg-secondary;
    @apply px-1;
    @apply py-4;
    @apply overflow-auto;
  }

  label {
    @apply text-main-text;
    @apply my-2;
    @apply mx-0;
  }

  body {
    background: #525252;
  }

  html {
    box-sizing: border-box;
    @apply text-lg;
  }

  table {
    @apply text-main-text;
  }

  tr {
    border-bottom: 1px solid var(--secondary);
    &:last-child {
      border-bottom: none;
    }
  }

  td {
    border-right: 1px solid var(--secondary);

    @apply px-2;
    @apply py-2;

    &:first-child {
      @apply pl-0;
    }

    &:last-child {
      @apply pl-2;
      border-right: none;
    }
  }

  th {
    @apply border-b-2;
    border-color: var(--text-main);
    border-right: 1px solid var(--secondary);
    @apply py-2;

    &:last-child {
      @apply pl-2;
      border-right: none;
    }
  }

  mark {
    color: var(--text-main);
    background: linear-gradient(
      120deg,
      var(--text-mark) 0%,
      var(--text-mark) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
  }

  .text-shadow {
    text-shadow: 1px 1px 4px rgba(34, 34, 34, 0.6);
  }

  .bg-success {
    background-color: var(--color-success);
  }

  .text-success {
    color: var(--color-success);
  }

  .not-available {
    background-color: var(--color-error);
  }

  .available {
    background-color: var(--color-success);
  }

  .fluid-image {
    @apply rounded-lg #{!important};
    @apply flex #{!important};
    @apply m-auto #{!important};
    @apply w-full #{!important};
    @apply lg:w-2/3 #{!important};
  }

  .stylistic-quote-mark {
    font-size: 5rem;
    @apply mr-0 absolute top-0 leading-none;
  }

  @screen sm {
    .stylistic-quote-mark {
      @apply block mr-2;
    }
  }
}

/* These styles will not be purged */
.gatsby-resp-image-figcaption {
  text-align: center;
  font-style: italic;
}
