@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'gatsby-remark-custom-blocks';
@import 'gatsby-remark-autolink-headers';
@import 'prismjs';

.theme-light {
  --primary: #f8f8f8;
  --secondary: #ecf0f1;
  --text-main: #0d0106;
  --text-secondary: #454e56;
  --background: #f8f8f8;
  --accent: #fc1a20;
}

.theme-dark {
  --primary: #313131;
  --secondary: #525252;
  --text-main: #eaeaea;
  --text-secondary: #b8b8b9;
  --background: #313131;
  --accent: #fc1a20;
}

:root {
  --color-toggle-light: #f8f8f8;
  --color-toggle-dark: #f8f8f8;
  --burger-menu-text: #f8f8f8;
  --burger-menu-button: #b8b8b9;
  --basic-button-text: #0d0106;
  --basic-button-text-light: #1c1b1b;
}

@layer base {
  ol,
  ul {
    list-style: initial;
    @apply ml-4;
  }

  li {
    @apply mb-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Domine', sans-serif;
    font-weight: bold;
    line-height: 1.1;
    @apply mb-2;
  }

  h1 {
    @apply text-5xl;

    @media (max-width: 640px) {
      @apply text-4xl;
    }
  }

  h2 {
    @apply text-4xl;

    @media (max-width: 640px) {
      @apply text-3xl;
    }
  }

  h3 {
    @apply text-2xl;

    @media (max-width: 640px) {
      @apply text-xl;
    }
  }

  h4 {
    @apply text-xl;
    @apply mt-4;
  }

  h5 {
    @apply text-lg;
  }

  a {
    color: var(--accent);
    text-decoration: none;
    background-image: linear-gradient(var(--accent), var(--accent));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;

    &:hover {
      color: var(--accent);
      text-decoration: none;
      background-size: 100% 2px;
    }
  }

  input {
    @apply h-8;
    @apply rounded-lg;
    @apply border-none;
    @apply bg-secondary;
    @apply px-1;
    @apply py-4;
    @apply overflow-auto;
  }

  textarea {
    @apply h-64;
    @apply rounded-lg;
    @apply border-none;
    @apply bg-secondary;
    @apply px-1;
    @apply py-4;
    @apply overflow-auto;
  }

  label {
    @apply text-main-text;
    @apply my-2;
    @apply mx-0;
  }

  body {
    background: #313131;
  }

  html {
    box-sizing: border-box;
    background: #313131;
  }

  table {
    @apply text-main-text;
  }

  tr {
    border-bottom: 1px solid var(--secondary);
    &:last-child {
      border-bottom: none;
    }
  }

  td {
    border-right: 1px solid var(--secondary);

    @apply px-2;
    @apply py-2;

    &:first-child {
      @apply pl-0;
    }

    &:last-child {
      @apply pl-2;
      border-right: none;
    }
  }

  th {
    @apply border-b-2;
    border-color: var(--text-main);
    border-right: 1px solid var(--secondary);
    @apply py-2;

    &:last-child {
      @apply pl-2;
      border-right: none;
    }
  }

  .text-shadow {
    text-shadow: 1px 1px 4px rgba(34, 34, 34, 0.6);
  }

  .not-available {
    background-color: #cf000f;
  }

  .available {
    background-color: #009944;
  }
}
