.gatsby-highlight-code-line {
  background-color: lighten(black, 25%);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid var(--accent);
}

code[class*='language-text'],
pre[class*='language-text'] {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

.gatsby-highlight {
  position: relative;
  border-radius: 0.375em;
  overflow: auto;

  pre[class*='language-']::before {
    background: black;
    border-radius: 0 0 0.25rem 0.25rem;
    color: white;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    text-transform: uppercase;
    top: 0;
  }

  pre[class='language-javascript']::before,
  pre[class='language-js']::before {
    content: 'js';
    background: #f7df1e;
    color: black;
  }

  pre[class='language-typescript']::before,
  pre[class='language-ts']::before {
    content: 'ts';
    background: #3177c6;
    color: white;
  }

  pre[class='language-html']::before {
    content: 'html';
    background: #005a9c;
    color: white;
  }

  pre[class='language-css']::before {
    content: 'css';
    background: #ff9800;
    color: white;
  }

  pre[class='language-json']::before {
    content: 'json';
    background: #e97a50;
    color: white;
  }
}
