@import '../../styles/variables.scss';

.about--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  & > * {
    flex: 1 100%;
  }
}

.about--text {
  font-size: 1.5em;
  color: $secondary-color;
}

.about--image {
  border-radius: 50%;
}

.about--desc {
  margin: 2em 0 0 2em;
}

.about--skills {
  width: 60%;
  margin: auto;
  margin-top: 2em;
}

/* Small screens */
@media all and (min-width: 300px) {
  /* We tell both sidebars to share a row */
  .about--image {
    flex: 0 1 auto;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  .about--desc {
    flex: 20 0px;
    order: 2;
  }
  .about--image {
    order: 1;
  }
}
