.card {
  max-width: 100%;
  width: 250px;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-flow: column;
  background-color: #ecf0f1;
  border-radius: 0.25rem;
  margin: 1rem;
  user-select: none;
  transition: 0.25s;
}

.clickable {
  &:hover {
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(black, 0.2),
      0 0.5rem 0.5rem 0 rgba(black, 0.14), 0 0.5rem 0.5rem 0 rgba(black, 0.12) !important;
    transform: translateY(-0.2rem);
    text-decoration: none;
  }
}
