.heading {
  display: flex;
  justify-content: center;

  h1 {
    letter-spacing: -0.03em;
    margin-bottom: .5em;
    line-height: 1.1;

    @media (min-width: 300px) {
      font-size: 2em;
    }

    @media (min-width: 768px) {
      font-size: 2.4em;
    }

    @media (min-width: 1024px) {
      font-size: 2.8em;
    }
  }
}
