.pagination {
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    padding: 0.5rem;
    border-radius: 5px;

    a {
      cursor: pointer;
    }
  }

  &__prev {
    margin-right: 1rem;
  }

  &__next {
    margin-left: 1rem;
  }

  &__active {
    background: red;
    a {
      color: white;
    }
  }

  &__disabled {
    a {
      color: lightgray;
      cursor: default !important;
      text-decoration: none;
    }
  }
}
