@import '../../styles/variables';

.social-link {
  align-items: center;
  background: white;
  border-radius: 100%;
  display: flex;
  align-content: center;
  padding: 0.5rem;
  margin: 1rem 1rem 0 0;

  &:hover {
    background: lightgrey;
  }
}
