@import '../../styles/variables';

.social-link {
  align-items: center;
  background: white;
  border-radius: 5px;
  display: flex;
  align-content: center;
  padding: 0.5rem;
  margin-right: 1rem;

  &:hover {
    background: $primary-color;
    transform: translate(0, -2px);
    box-shadow: 5px 5px 1px black;
  }
}
