.carbon-ads {
  min-height: 102px;
  font-size: 0.75rem;
  line-height: 1.2;
  width: 150px;
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--secondary);
}

.carbon-ads a {
  color: var(--text-main);
  font-weight: normal;
  display: inline;
  text-decoration: none;
}

.carbon-ads .carbon-img img {
  display: block;
  width: 130px;
  height: 100px;
  margin-bottom: 0.5em;
}

.carbon-ads .carbon-poweredby {
  color: var(--text-secondary);
  display: block;
  margin-top: 0.5em;
}
