.footer {
  &__container {
    flex-shrink: 0;
    height: 4em;
    padding: 1em;
  }

  &__content {
    text-align: center;
    color: white;
    margin: 1rem 0 1rem 0;
  }

  &__links {
    display: flex;
    justify-content: center;
  }
}
